.laporan {
    padding-top: 7rem;
}

/* Jarak bagian bawah heading */
.laporan h2.display-4.text-center.lh-1.mb-4 {
    margin-bottom: 50px !important;
}

/* Mengatur Gambar  */
.table-responsive tbody img {
    width: 90%;
    border-radius: 5px;
}

/* Isi tabel */
.table-responsive .table td,
.table-responsive .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    font-weight: normal;
}

/* Judul tabel */
.table-responsive .table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

/* paragraf */
.table-responsive .table td p {
    text-align: center;
}

/* Latar header table */
.table-responsive .table .thead-dark th {
    color: #000;
    background-color: #ecf0f6 !important;
    border: orange !important;
    box-shadow: none !important;
}

/* Heading table */
.laporan h1.display-1.lh-1.mb-3, h2.display-4.text-center.lh-1.mb-4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}


.table-responsive i.bi.bi-check-square-fill.me-2,
.table-responsive i.bi.bi-x-square-fill.me-2,
.table-responsive i.bi.bi-exclamation-square-fill.me-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.table-responsive i.bi.bi-check-square-fill.me-2 {
    color: green;
}
.table-responsive i.bi.bi-x-square-fill.me-2 {
    color: red;
}

.table-responsive i.bi.bi-exclamation-square-fill.me-2 {
    color: blue;
}


/* Kolom pencarian  */
.search.container form {
    width: 100% !important;
    min-width: 100% !important;
}

/* Ketik kata kunci */
.search.container form input {
    height: 45px;
    border: 2px solid #ecf0f6;
    border-radius: 10px !important;
    padding: 0 10px;
    width: 100%;
}

/* Tombol cari */
.search.container form button {
    height: 45px;
    border: 0 !important;
    border-radius: 5px !important;
    padding: 0 50px;
    background-color: #4e2eeb;
    color: #fff;
    width: 100%;
}

/* Kolom Filter */
.search.container select.filter {
    width: 100%;
    height: 45px;
    border: 2px solid #ecf0f6;
    border-radius: 10px;
    padding: 0 10px;
}

/* Kolom filter dan search in small device */
@media (max-width: 575px) {
.search.container .col-lg-3.col-md-3.col-sm-3.col-xs-3,
.search.container .col-lg-4.col-md-4.col-sm-4.col-xs-4,
.search.container .col-lg-2.col-md-2.col-sm-2.col-xs-2 {
    width: 50%;
    margin: 10px 0 !important;
}
}