.laporan {
    padding-top: 7rem;
}

/* Jarak bagian bawah heading */
.laporan h2.display-4.text-center.lh-1.mb-4 {
    margin-bottom: 50px !important;
    font-size: 38px;
}

/* Mengatur Gambar  */
.table-responsive tbody img {
    width: 90%;
    border-radius: 5px;
}

/* Isi tabel */
.table-responsive .table td,
.table-responsive .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    font-weight: normal;
}

/* Judul tabel */
.table-responsive .table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

/* paragraf */
.table-responsive .table td p {
    text-align: center;
}

/* Latar header table */
.table-responsive .table .thead-dark th {
    color: #000;
    background-color: #ecf0f6 !important;
    border: orange !important;
    box-shadow: none !important;
}

/* Heading table */
.laporan h1.display-1.lh-1.mb-3, h2.display-4.text-center.lh-1.mb-4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}


.table-responsive i.bi.bi-check-square-fill.me-2,
.table-responsive i.bi.bi-x-square-fill.me-2,
.table-responsive i.bi.bi-exclamation-square-fill.me-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.table-responsive i.bi.bi-check-square-fill.me-2 {
    color: green;
}
.table-responsive i.bi.bi-x-square-fill.me-2 {
    color: red;
}

.table-responsive i.bi.bi-exclamation-square-fill.me-2 {
    color: blue;
}


/* Kolom pencarian  */
.search.container form {
    width: 100% !important;
    min-width: 100% !important;
}

/* Ketik kata kunci */
.search.container form input {
    height: 45px;
    border: 2px solid #ecf0f6;
    border-radius: 10px !important;
    padding: 0 10px;
    width: 100%;
}

/* Tombol cari */
.search.container form button {
    height: 45px;
    border: 0 !important;
    border-radius: 5px !important;
    padding: 0 50px;
    background-color: #4e2eeb;
    color: #fff;
    width: 100%;
}

/* Kolom Filter */
.search.container select.filter {
    width: 100%;
    height: 45px;
    border: 2px solid #ecf0f6;
    border-radius: 10px;
    padding: 0 10px;
}

/* Kolom filter dan search in small device */
@media (max-width: 575px) {
.search.container .col-lg-3.col-md-3.col-sm-3.col-xs-3,
.search.container .col-lg-4.col-md-4.col-sm-4.col-xs-4,
.search.container .col-lg-2.col-md-2.col-sm-2.col-xs-2 {
    width: 50%;
    margin: 10px 0 !important;
}
}

/* Halaman laporan 23072021  */
/* Halaman Filter */
form#form-filter {
    display: flex;
}

.panel.panel-default.container,
.panel.panel-default.container .panel-heading  {
    border: 0;
}

.panel.panel-default.container .panel-heading,
.panel.panel-default.container .panel-body {
    padding: 0;
}

label.col-sm-2.control-label {
    width: 100%;
    text-align: left;
    min-width: 100%;
    font-weight: bold;
    padding: 0;
}

.col-lg-3.col-md-3.col-sm-6.col-xs-6 .col-sm-12 {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}


/* Button filter and reset */
.col-lg-3.col-md-3.col-sm-6.col-xs-6 button.btn.btn-danger.col-sm-6,
.col-lg-3.col-md-3.col-sm-6.col-xs-6 button.btn.btn-primary.col-sm-6 {
    width: 47% !important;
    min-width: 47% !important;
    max-width: 47% !important;
}


label.filter.col-sm-2.control-label {
    visibility: hidden;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
    padding: 0 10px;
}

table#table img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

select.form-control.input-sm {
    margin: 0 5px;
}

table.dataTable thead .sorting:after {
    display: none;
}

.table-responsive .table thead th {
    font-weight: bold;
}


/* Pagination */
.table-responsive .row {
    width: 100%;
}

.table-responsive .col-sm-5 {
    width: 50%;
}

.table-responsive .col-sm-7 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

li#table_previous,
li#table_next {
    padding: 5px 10px;
    background-color: #4e2eeb;
    border: 0;
    border-radius: 5px;
    margin: 0 10px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.paginate_button.active {
    padding: 5px 10px;
}

li.paginate_button.active a {
    color: #d01a4e;
    font-size: 16px;
    font-weight: bold;
}

ul.pagination a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

div#table_info {
    font-size: 12px;
}

/* Show entri */
.table-responsive .row .col-sm-6 {
    display: flex;
}

/* Detail - Search */
div#table_wrapper button.btn.btn-success.fas.fa-file-alt {
    margin: 0 auto;
    display: flex;
}


/* Modal Detail Laporan */
div#report-detail div#newreport {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(0.5);
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}


div#report-detail div#newreport .modal-content {
    min-width: 670px;
}

@media (max-width: 1000px) {
div#report-detail div#newreport .modal-content {
    min-width: 90%;
    max-width: 90%;
}  
}

@media (min-width: 700px) {
div#report-detail div#newreport .modal-content {
    min-width: 670px !important;
}
}

div#report-detail {
    padding: 0 !important;
}

/* Gambar infrastruktur */
div#newreport .card.mb-3 {
    border: 0;
}

div#newreport .card.mb-3 img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}

div#newreport .card-body {
    padding: 1rem 0;
}

/* Footer */
footer.bg-black.text-center.py-5 {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    clear: both;
    position: relative;
    height: 150px;
    margin-top: 150px;
}

/* Border di tabel Laporan Pengaduan */
.table > :not(:last-child) > :last-child > * {
    border: 1;
    border-bottom: 0;
}



/* SLIDER */
div#newreport .carousel-item.active,
div#newreport .carousel-item {
    height: 200px;
}

div#newreport .carousel-item.active img {
    width: 100% !important;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

div#newreport .modal-footer {
    border: 0;
}

/* Mengubah jenis huruf */
.col-lg-3.col-md-3.col-sm-6.col-xs-6 label.col-sm-2.control-label {
    font-family: 'Poppins';
}

/* Kolom pilih kabupaten dkk */
select#infrastruktur,
select#lokasi_kabkota,
select#lokasi_distrik {
    font-family: 'Poppins' !important;
    font-size: 14px !important;
    height: 45px;
    font-weight: normal !important;
}

/* mengubah tulisan processing */
div.dataTables_wrapper div.dataTables_processing {
    top: 100%;
    color: red;
}

/* Tulisan selengkapnya */
.table-responsive table#table a {
    text-decoration: none;
    bottom: 0;
}

/* button filter blue */
.col-sm-12 button#btn-filter {
    width: 70%;
    height: 45px;
}