/* CSS untuk footer */
footer.bg-black.text-center.py-5 {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    clear: both;
    position: relative;
    height: 150px;
    margin-top: 150px;
}

/* Jarak bagian atas judul grafik */
#reportstat {
    padding-top: 10rem;
}

/* Judul Grafik */
#reportstat label.col-sm-2.control-label {
    min-width: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
}

/* Sembunyikan tabel grafik */
figure.highcharts-figure table#datatable {
    display: none;
}

text.highcharts-title {
    display: none;
}

text.highcharts-credits {
    display: none;
}

text.highcharts-subtitle {
    display: none;
}

div#reportB {
    margin-top: 5rem;
}

div#reportstat text {
    font-family: 'Poppins';
}

div#reportA,
div#reportB {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2rem 10px;
}

div#reportA label.col-sm-2.control-label,
div#reportB label.col-sm-2.control-label {
    margin-bottom: 2rem;
}
