.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    outline: 0;
    border-radius: 15px;
    margin: 0 1%;
}

@media (max-width: 449px) {
    div#identity {
        padding-top: 0;
    }
    }

    .col-sm-12 {
        margin: 10px 0;
        padding: 15px;
        padding-top: 1rem;
    }

    @media (min-width: 450px) {
    #identity .card img {
        width: 40%;
        height: auto;
        position: fixed;
        top: 80px;
        right: 30px;
        border-radius: 10px;
    }
    }

    @media (max-width: 449px) {
    #identity .card img {
        width: 96%;
        height: auto;
        border-radius: 10px;
        margin: 0 2%;
    }
    }

    #identity .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        padding: 8px;
    }

    @media (max-width: 449px) {
    #identity .card .card-body {
        padding-top: 2rem !important;
        padding: 0;
        border: 0 !important;
    }
    }

    @media (min-width: 450px) {
    #identity .card .card-body {
        padding-top: 0 !important;
        padding: 0;
        border: 0 !important;
    }
    }

    /* Table */
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        margin-top: 0;
    }

    .table td, .table th {
        padding: .2rem .5rem;
        vertical-align: top;
        border-top: 0;
    }

    /* Laporan */
    #report img {
        width: 100%;
        border-radius: 5px;
        margin: 10px 0;
        height: 200px;
        object-fit: cover;
    }

    #report h4.card-title {
        font-size: 28px;
        font-weight: bold;
    }

    #report .card .card-body {
        padding: 5px;
    }

    #report .card h5 {
        padding: 0 7px;
        font-weight: bold;
        margin-top: 30px;
    }

    #report .card p {
        padding: 0 7px;
    }

    /* Perbesar modal */
    @media (min-width: 576px) {
    .modal-dialog {
        max-width: 860px !important;
        margin: 2% auto;
    }
    }


    /* KTP */
    #idcard img {
        width: 100%;
        object-fit: contain;
        height: auto;
        border-radius: 10px;
    }

    h5.card-title {
        font-size: 28px;
        font-weight: bold;
    }

    div#idcard .card-body {
        padding: 5px;
    }

    div#idcard {
        margin-bottom: 15px;
    }

    /* Modal close button */
    button#closeBtn {
        background-color: red;
        border: 0;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        width: 35px;
    }

    tbody span {
        font-weight: 500;
    }