svg.svg-inline--fa.fa-external-link-alt.fa-w-16 {
    color: #fff;
    font-size: 12px;
}

#admin tbody td:nth-last-child(1) {
    vertical-align: middle !important;
}

/* Admin panel form */
#admin tbody td:nth-last-child(1) a.btn.btn-info,
#admin tbody td:nth-last-child(1) a.btn.btn-danger,
#admin tbody td:nth-last-child(1) a.btn.btn-primary {
    width: 60px;
    padding: 0px;
    font-size: 12px;
    margin: 0 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#admin th:last-child {
    width: 200px !important;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

#admin tbody td:nth-last-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

#admin th a.dataTable-sorter {
    bottom: 0 !important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#admin .table-bordered > :not(caption) > *,
#admin .dataTable-table > :not(caption) > * {
    border-width: 1px;
}

#admin .dataTable-table > thead > tr > th {
    vertical-align: bottom;
    text-align: left;
    border-bottom: none;
    height: 58px;
    /* border: 1px solid #e8e8e8 !important; */
}

#admin .dataTable-table > thead > tr {
    border: 1px solid #e8e8e8 !important;
}

#admin .table-bordered > :not(caption) > * > *,
#admin .dataTable-table > :not(caption) > * > * {
    border-width: 1px !important;
}